@import 'icons.css';
@import 'layout.css';
@import 'modules.css';

body {
  color: #EDE7D9;
  background-color: #1C373A;
}


/*TEXT STYLES
=======================================*/

p, ul {
  font-size: 1em;
  color: DarkKhaki;
}

/*LINK STYLES
=======================================*/

a, a:link, a:active {
  text-decoration: none;
  color: #D5A021;
}

a:hover, a:focus {
  color: #736B60;
}

a:visited {
  color: #A49694;
}
