.icon-menu {
   float: right;
   margin: 20px;
   padding: 0;
   font-size: 100%;
   position: relative;
 }

.icon-cross {
  display: none;
  float: right;
  margin: 20px;
  padding: 0;
  font-size: 100%;
  position: relative;
}

 .main-nav ul {
   float: right;
   width: 30%;
   display: none;
   margin-top: 0;
   margin-right: .8em;
   list-style: none;
   clear: both;
   font-size: 1.5em;
   /*transition: all .3s ease-out;*/
 }

 .main-nav li {
   border-bottom: 1px solid #ccc;
   padding: .2em;
   text-align: right;
 }

 .main-nav #logo {
   float: left;
   padding: 10px;
   font-size: 25px;
   /*display: inline-block;*/
 }

main .contact-button {

}

.image-show {
   width: 100%;
   opacity: 0.2;
   /*z-index: -1;*/
}

.image-show:hover {
  opacity: 0.4;
}

.template {
  display: none;
}

article {
  position: relative;
}

.title-link {
  position: absolute;
  left: 0;
  top: 35%;
  width: 100%;
  text-align: center;
  font-size: 35px;
}

.description {
  position: absolute;
  left: 0;
  top: 45%;
  width: 100%;
  text-align: center;
  font-size: 18px;
}

.main-nav {
  /*height: 50px;*/
}

.tab-content {
  float: right;
  width: 100%;
}

/*Tablet*/
@media only screen and (min-width: 640px) {
  .main-nav ul {
    width: 100%;
    display: inline-block;
  }
  .main-nav li {
    display: inline-block;
    margin-left: 50px;
    border-bottom: none;
  }
}

/*Desktop*/
@media only screen and (min-width: 960px) {
  header, main {
    display: inline-block;
    height: 100vh;
  }

  main {
    margin-left: 80px;
    vertical-align: middle;
  }

  .main-nav {
    /*display: flex;*/
    /*flex-basis: 20px;*/
    width: 20px;
  }

  .main-nav ul {
    vertical-align: middle;
  }

  .main-nav li {
    margin: 0;
    padding: 10px 0px 10px 30px;
    border-bottom: none;
  }
}
