@import 'icons.css';
/*@import 'layout.css';*/
@import 'modules.css';

body {
  line-height: 1.5;
  font-size: 100%;
  color: black;
  margin: 0 auto;
  width: 100%;
}


/*TEXT STYLES
=======================================*/

p {
  font-size: 1em;
}

/*LINK STYLES
=======================================*/

a, a:link, a:active {
  text-decoration: none;
  color: #777;
}

a:hover, a:focus {
  color: #29506D;
}

a:visited {
}
