/*  -------- Media Queries ------- */

/*.clearfix::after {
  content: "";
  display: table;
  clear: both;
}*/

@media only screen and (min-width: 640px) {
  .icon-menu {
    display: none;
  }
}

@media only screen and (min-width: 960px) {
  .main-nav ul {
    width: 100%;
    display: inline-block;
  }

  .main-nav li {
    display: inline-block;
  }
}

  /*.main-nav {
        width: 100%;
        padding:10px 18px;
        box-shadow:0px 1px 1px rgba(0,0,0,0.15);
        border-radius:3px;
        background:#303030;
  }*/
